@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v12-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
      /* IE6-IE8 */
      url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
      /* Super Modern Browsers */
      url('../fonts/inter-v12-latin-regular.woff') format('woff'),
      /* Modern Browsers */
      url('../fonts/inter-v12-latin-regular.ttf') format('truetype'),
      /* Safari, Android, iOS */
      url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg');
  /* Legacy iOS */
}

@font-face {
  font-family: 'Gemini Moon';
  src: url('../fonts/Gemini\ Moon.otf');
  /* IE9 Compat Modes */
}



@font-face {
  font-family: 'Vividly';
  src: url('../fonts/Vividly-Regular.otf');
  /* IE9 Compat Modes */
}

/* ELEMENTS */

h1 {
  font-size: 24px;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #3B8600;
}

html {
  scroll-behavior: smooth;
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url('/img/bg_pattern.png');
  background-repeat: repeat;
  font-family: 'Inter';
}

/* TEXT */

.gemini-moon {
  font-family: 'Gemini Moon', 'Inter', Arial;
}

.vividly {
  font-family: 'Vividly', 'Inter', Arial;
}

.inter {
  font-family: 'Inter', Arial;
}

.fc-white {
  color: white;
}

.fc-black {
  color: black;
}

.fc-grey {
  color: #B3B3B3;
}

.fs-default {
  font-size: 14px;
}

.fs-small {
  font-size: 12px;
}

/* LAYOUT */

.site-container {
  max-width: 1280px;
  box-sizing: border-box;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 40px;
  min-height: 100vh;
}

.content-container {
  padding: 10px 20px 10px 20px;
  background-color: white;
  border-radius: 3px;
  position: relative;
  box-sizing: border-box;
}

.post-container {
  max-width: 600px;
}

.post-container * {
  max-width: 100%;
}

.full-width {
  width: 100%;
}

.align-center {
  align-items: center;
}

.space-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.c-row {
  display: flex;
  flex-direction: row;
}

.c-column {
  display: flex;
  flex-direction: column;
}

.inline-block {
  display: inline-block;
}

.side-content {
  flex: 1;
}

.gap {
  gap: 20px;
}

.big-gap {
  gap: 40px;
}
/* MISC */

#header-title {
  font-size: 36px;
}

#homepage-homepath {
  position: absolute;
  width: 100%;
}

.date-item {
  min-width: 60px;
}

#TableOfContents > ul > li > a {
  width: 150px;
  color: #B3B3B3;
  font-weight: bold;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: all .3s;
}

#TableOfContents > ul > li.active > a {
  color: black;
}

#TableOfContents > ul > li {
  margin-bottom: 10px;
}

#TableOfContents > ul {
  padding: 0px 0px 0px 20px;
}

.slider-container {
  display: flex;
  overflow: hidden;
  position: relative;
}

.slider-container > div {
  display: flex;
  position: relative;
  animation: slider 30s linear infinite;
}

.slider-container:hover > div {
		animation-play-state: paused;
}

.slider-img-container {
  position: relative;
  height: 300px;
  border: 5px solid white;
  filter: drop-shadow(4px 4px 4px rgba(0,0,0,0.25));
}

.slider-img {
  height: 300px;
}

.slider-subtitle {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.slider-img-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 20%, rgba(255,255,255,0) 100%);
}

.post-container img {
  max-width: 100%;
  box-sizing: border-box;
  padding: 20px 20px 5px 20px;
}

@media screen and (max-width: 650px) {
  #header-title {
    font-size: 24px !important;
  }

  .site-container {
    padding: 10px;
  }

  .c-s-column {
    flex-direction: column !important;
  }

  .slider-img-container {
    height: 200px;
  }

  .slider-img {
    height: 200px;
  }

  .side-content {
    display: none;
  }
}
