.bouncing-word span {
    position: relative;
    top: 0px;
    animation: bounce 10s ease infinite;
}

.bouncing-word span:nth-child(2) {
    animation-delay: .05s;
}

.bouncing-word span:nth-child(3) {
    animation-delay: .1s;
}

.bouncing-word span:nth-child(4) {
    animation-delay: .15s;
}

.bouncing-word span:nth-child(5) {
    animation-delay: .2s;
}

.bouncing-word span:nth-child(6) {
    animation-delay: .25s;
}

.bouncing-word span:nth-child(7) {
    animation-delay: .3s;
}

.bouncing-word span:nth-child(8) {
    animation-delay: .35s;
}

.bouncing-word span:nth-child(9) {
    animation-delay: .4s;
}

.bouncing-word span:nth-child(10) {
    animation-delay: .45s;
}

.bouncing-word span:nth-child(11) {
    animation-delay: .5s;
}

.bouncing {
    position: relative;
    top: 0px;
    animation: spring 10s ease infinite;
}

@keyframes bounce {
    3% {
        top: -20px;
    }

    6% {
        top: 0px;
    }

    100% {
        top: 0px;
    }
}

@keyframes spring {
    2% {
        top: -7px;
    }

    4% {
        top: 7px;
    }

    6% {
        top: -3px;
    }

    8% {
        top: 3px;
    }

    10% {
        top: 0px;
    }

    100% {
        top: 0px;
    }
}

.wave {
    animation-name: wave-animation;
    /* Refers to the name of your @keyframes element below */
    animation-duration: 10s;
    /* Change to speed up or slow down */
    animation-iteration-count: infinite;
    /* Never stop waving :) */
    transform-origin: 70% 70%;
    /* Pivot around the bottom-left palm */
    display: inline-block;
}

@keyframes wave-animation {
    0% {
        transform: rotate(0.0deg)
    }

    2% {
        transform: rotate(14.0deg)
    }

    /* The following five values can be played with to make the waving more or less extreme */
    4% {
        transform: rotate(-8.0deg)
    }

    6% {
        transform: rotate(14.0deg)
    }

    8% {
        transform: rotate(-4.0deg)
    }

    10% {
        transform: rotate(10.0deg)
    }

    12% {
        transform: rotate(0.0deg)
    }

    /* Reset for the last half to pause */
    100% {
        transform: rotate(0.0deg)
    }
}

.fade {
    opacity: 1;
    animation-name: fade;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    display: inline-block;
}

@keyframes fade {
    15% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.glitch {
    position: relative;
    animation: glitch 1s linear infinite;
    display: inline-block;
}

@keyframes glitch {

    2%,
    64% {
        transform: translate(2px, -2px);
    }

    4%,
    60% {
        transform: translate(-2px, 2px);
    }

    62% {
        transform: translate(13px, -1px) skew(-13deg);
    }
}