/* inter-regular - latin */
@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v12-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/inter-v12-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/inter-v12-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/inter-v12-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/inter-v12-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/inter-v12-latin-regular.svg#Inter') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-family: 'Gemini Moon';
    src: url('../fonts/Gemini\ Moon.otf');
    /* IE9 Compat Modes */
}

@font-face {
    font-family: 'Vividly';
    src: url('../fonts/Vividly-Regular.otf');
    /* IE9 Compat Modes */
}

html {
    padding: 0px;
    margin: 0px;
}

.vividly {
    font-family: 'Vividly';
}

img.emoji {
    height: 1.2em;
    width: 1.2em;
    margin: 0 .05em 0 .1em;
    vertical-align: -0.25em;
}

#index-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#index-title-tip {
    position: relative;
    text-align: center;
    transform: rotate(45deg);
    left: 160px;
    top: 20px;
    width: 150px;
}

#index-title-arrow {
    position: relative;
    height: 50px;
    left: 120px;
    top: 30px;
}

#index-title {
    font-size: 6em;
    margin-bottom: -0em;
}

#index-surtitle {
    font-size: 4em;
    margin-bottom: -0.4em;
}

#search-bar {
    font-size: 2em;
    margin-top: 3em;
}

.hide-on-mobile {
    visibility: visible;
}

#index-intro {
    position: relative;
    width: 70%;
    margin-top: 32px;
}

#index-random-button {
    position: relative;
    font-size: 2em;
    margin-top: 0.5em;
    margin-bottom: 3em;
    text-align: center;
}

.block-main-page {
    width: 30%;
    position: relative;
}

.trimoji-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    #index-surtitle {
        font-size: 2.5em;
    }

    .hide-on-mobile {
        visibility: hidden;
    }

    .trimoji-container {
        flex-direction: row-reverse;
    }

    #index-title {
        font-size: 3.5em;
    }

    #index-title-tip {
        transform: rotate(45deg);
        font-size: 0.8em;
        left: 100px;
        top: 20px;
        width: 150px;
    }

    #index-title-arrow {
        height: 30px;
        top: 20px;
        left: 70px;
    }

    #search-bar {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 1.4em;
    }

    #index-intro {
        width: 100%;
        font-size: 1em;
        margin-top: 4em;
    }

    #index-random-button {
        font-size: 1.4em;
        width: 80%;
    }

    .block-main-page {
        width: 100%;
    }
}

#background-gradient {
    z-index: -10;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    background-image: url('../img/background-reduced.jpg');
    opacity: .3;
    display: block;
}

#background-gradient>span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), white);
}

#title-showoff {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}

.center-text {
    text-align: center;
}

.gemini-moon {
    font-family: 'Gemini Moon';
}

.inter {
    font-family: 'Inter';
}

.gray-color {
    color: #616161;
}

.button {
    cursor: pointer;
    border: 1px solid #a3a3a3;
    border-radius: 10px;
    background-color: white;
    padding: 0.5em 1em 0.5em 1em;
}

.article-card-list-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 10px;
}

.post-card {
    position: relative;
    background-size: cover;
    border-radius: 10px;
    margin-bottom: 3em;
    width: 15em;
    height: 15em;
    display: inline-block;
}

.s1x1 {
    width: 15em;
    height: 15em;
}

.s1x2 {
    width: 30em;
    height: 15em;
}

.post-card>span {
    position: relative;
    top: 105%;
    padding-top: 15px;
}

#footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
}

.emoji-tag {
    cursor: pointer;
}

.a-no-style {
    text-decoration: none;
    color: inherit;
}

.quote-author {
    opacity: 0;
    transition: all .3s;
}

.quote-container:hover > .quote-author {
    opacity: 1;
    transition: all .3s;
}

#location {
    margin-top: 2em;
    text-align: center;
    font-size: 2em;
    color: #000
}

.peertube-iframe {
    position: relative;
    width: 100%;
    min-height: 400px;
}