<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}
<link rel="stylesheet" type="text/css" href="/css/post.css">
<body>
    <div class="site-container c-column space-between">
      <div>
        {{- partial "header.html" . -}}
        <div class="c-row justify-center" style="margin-top: 50px;">
        <div class="content-container c-column align-center">
          <p class="gemini-moon" style="font-size: 150px; line-height: 3px;">404</p>
          <p>Woah, je crois que tu as farfouillé un peu trop loin dans mon univers !</p>
        </div>
        </div>
      </div>
      {{- partial "footer.html" . -}}
    </div>
</body>

</html>
