<!DOCTYPE html>
<html>

{{- partial "head.html" . -}}

<body class="fs-default">
    <div class="site-container c-column space-between">
      <div>
        {{- partial "header.html" . -}}
        <div class="content-container" style="margin-top: 50px;">
          <div class="slider-container" style="padding-bottom: 10px;">
            {{ range $num := (seq 2) }}
              <div>
                {{ range $.Site.Data.Slider }}
                  <div class="slider-img-container">
                    <div class="slider-img-backdrop"></div>
                    <span class="slider-subtitle fc-white vividly">{{ .subtitle }}</span>
                    <img class="slider-img" src="{{ .url }}" />
                  </div>
                {{ end }}
              </div>
            {{ end }}
          </div>
        </div>
        <div class="c-row c-s-column space-between big-gap" style="margin-top: 50px;">
          <div class="content-container">
            <h1>Hello 👋</h1>
            <p>Je m’appelle <a href="/lulu">Lucien</a> et bienvenue dans mon monde virtuel. Cet endroit n’a pas vraiment de règles, il existe et il est libre d’accès.</p>
            <p>Si vous voulez découvrir mon univers je vous conseil d’être curieux·se et de ne pas vous empêcher de clicker / survoler / tout essayer.</p>
            <p>Sur ce, j’espère que vous allez vous amuser 🌱</p>
          </div>
          <div class="content-container" style="min-width: 250px !important; width: fit-content">
            <h1>Les Shenanigans ✨</h1>
            {{ range first 3 (where .Site.RegularPages "Type" "post") }}
              <div style="margin-left: 20px;" class="c-row">
                  <span class="fc-grey date-item">{{.Date.Format "Jan 2"}}</span>
                  <a href="{{.Permalink}}">
                      <span>{{- partial "postname.html" . -}}</span>
                  </a><br/>
              </div>
            {{ end }}
            <a href="/things" class="fc-black"><h1>Mes affaires 🎒</h1></a>
            <a href="/maison" class="fc-black"><h1>Ma maison 🏡</h1></a>
          </div>
        </div>
      </div>
      {{- partial "footer.html" . -}}
    </div>
</body>

</html>
