<div class="c-row justify-center">
<div class="post-container content-container fs-default">
    <div>
      <h1>{{ .Title }}</h1>
        <div class="fc-grey fs-small">
          <span class="fc-grey fs-small">Ou comment Lucien procrastine</span>
        </div>
    </div>
    <div>
        {{ $lastdate := "2000" }}
        {{ range .Pages }}
            {{ if ne $lastdate (.Date.Format "2006") }}
                {{ $lastdate = (.Date.Format "2006") }}
                <h2>{{ .Date.Format "2006" }}</h2>
            {{ end }}
            <div style="margin-left: 20px;" class="c-row">
                <span class="fc-grey date-item">{{.Date.Format "Jan 2"}}</span>
                <a href="{{.Permalink}}">
                    <span>{{- partial "postname.html" . -}}</span>
                </a><br/>
            </div>
        {{ end }}
    </div>
</div>
</div>
