<div style="height: 100px !important; left: 0px; position: absolute;" id="background-gradient">
    <span></span>
</div>
<div>
    <a href="/" class="vividly a-no-style" style="display: block; color: #000; text-decoration: none; border-bottom: none; font-size:2em; margin-top: 0.5em; margin-left: 0.5em; margin-bottom: 4em;">Lulu's <span class="gemini-moon bouncing-word" ><span>S</span><span>h</span><span>e</span><span>n</span><span>a</span><span>n</span><span>i</span><span>g</span><span>a</span><span>n</span><span>s</span></span></a>
</div>
{{- partial "languagebutton.html" . -}}